
@import "include/rwd";
@import "include/variables"; // 變數
@import "include/normalize";
@import "include/normal";

img {
	max-width: 100%;
}

.wrap {
	max-width: $wrap-size;
	// padding: 0 50px;
	margin: 0 auto;
	// @include tablet {
	// 	padding: 0 40px;
	// }
	// @include mobile-xl {
	// 	padding: 0 30px;
	// }
}


.btn {
	display: inline-block;
	font-size: 16px;
	color: $primary2;
	padding: 8px 16px;
	border: 1px solid $primary2;
	border-radius: 30px;
	transition: ease .5s;
	&:hover {
		color: #fff;
		background-color: $primary;
		border-color: $primary;
	}
}

.btn-fill {
	color: #fff;
	font-weight: 700;
	padding: 6px 12px;
	background-color: $primary;
	border: none;
	&:hover {
		background-color: $hover-color;
	}
}


// 主選單
.main-menu {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	gap: 4px;
	a {
		display: inline-block;
		color: #000;
		font-size: 28px;
		font-weight: 700;
		padding: 24px 18px;
		transition: ease .5s;
		&:hover {
			color: $primary;
		}
	}
}


// 部落格 banner
.blog-banner .banner-content {
	display: flex;
	flex-wrap: wrap;

	.banner-item {
		flex: 0 0 50%;
		max-width: 50%;
		@include mobile-xl {
			flex: 0 0 100%;
			max-width: 100%;
		}

		img {
			height: 100%;
			object-fit: cover;
		}

		&.description {
			padding-left: clamp(40px, 8vw, 80px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include mobile-xl {
				padding: 24px;
			}
		}
	}

	h1 {
		color: $primary;
		font-size: clamp(52px, 1.38vw, 120px);
		margin-top: 0;
		margin-bottom: 12px;
	}

	h2 {
		font-size: 28px;
		color: $primary;
		margin-top: 0;
		margin-bottom: 0;
	}
}


// 精選文章
.featured-articles {
	border-top: 1px solid #6C757D;
	border-bottom: 1px solid #6C757D;

	img {

		@include mobile-xl {
			aspect-ratio: 1 !important;
		}
	}

	.card {
		display: flex;
		flex-wrap: wrap;
		>* {
			flex: 0 0 50%;
			max-width: 50%;
			@include mobile-xl {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.card-body {
			padding: 48px calc((100vw - $wrap-size) / 2) 48px 24px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include wrap-width {
				padding-right: 24px;
			}
			@include mobile-xl {
				padding: 48px 12px;
			}
		}

		.card-text {
			color: #000;
		}
	}
}



// 部落格列表

.blog-list-wrap {
	.pagination {
		padding-bottom: clamp(64px, 7vw, 80px);
	}
}
.blog-list {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(32px, 8.53vw, 80px) 0;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: -12px;
	margin-right: -12px;
	@include wrap-width {
		margin-left: 0;
		margin-right: 0;
	}

	.blog-list-item {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding-left: 12px;
		padding-right: 12px;
		@include tablet {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include mobile-xl {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

.blog-list-item {

	img {
		width: 100%;
		aspect-ratio: 416/200;
		object-fit: cover;
	}

	.date {
		font-size: 16px;
		font-weight: 500;
	}

	.card {
		border: none;
	}

	.card-body {
		padding-top: 16px;
	}

	.tags {
		list-style: none;
		padding-left: 0;
		margin-top: 4px;
		margin-bottom: 0;
		font-size: 24px;
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
	}

	.card-title {
		font-size: 28px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 8px;
	}

	.card-text {
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.btn-wrap {
		margin-top: 16px;
	}
}


// 搜尋 bar
.search-content {
	padding-top: clamp(64px, 7vw, 80px);
	padding-left: 12px;
	padding-right: 12px;

	.input-group {
		max-width: 416px;
		padding: 16px;
		border: 1px solid $primary2;
		border-radius: 40px;
	}

	input {
		color: $primary2;
		border: none;
		padding-left: 10px;
		&::placeholder {
			color: $primary2;
		}
	}
}

.btn-search {
	line-height: 1;
	padding: 0;
	background: unset;
	border: none;
	vertical-align: text-bottom;
	cursor: pointer;
	&:hover {
		background: unset;
		filter: brightness(0) saturate(100%) invert(12%) sepia(86%) saturate(5117%) hue-rotate(231deg) brightness(90%) contrast(111%);
	}
}


// footer
.footer-info {
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mobile-xl {
		display: none;
	}
}

.footer-bottom {
	background-color: #fff;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.info-mail a {
	font-size: 32px;
	font-weight: 500;
	color: $main-color;
	&:hover {
		color: $primary;
	}
}

.smo {
	display: flex;
	gap: 4px;
	list-style: none;
	padding: 0;
	margin: 0;

	a{
		display: inline-block;
		padding: 10px;
		&:hover img {
			filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(4656%) hue-rotate(229deg) brightness(98%) contrast(107%);
		}
	}
}